//header
header .logIN_Area .deco .icon{
    background: url(../img/loginICON.png) no-repeat center;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/bg.png) no-repeat center top;
    background-size: 100%;
}